<table>
    <colgroup>
        <col span="2">
        <col class="highlight">
    </colgroup> 
    <thead>
        <tr>
            <th></th>
            <th>Silver</th>
            <th class="gold-font">Gold</th>
            <th>Platinum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Learning Materials</td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
        </tr>
        <tr>
            <td>Analytics</td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
        </tr>
        <tr>
            <td>Unlimited Reports</td>
            <td>                            
                <span class="material-symbols-outlined red-font med-icon">
                close
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
        </tr>
        <tr>
            <td>Real-Time Tracking</td>
            <td>                            
                <span class="material-symbols-outlined red-font med-icon">
                close
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Priority Bandwidth
            </td>
            <td>                            
                <span class="material-symbols-outlined red-font med-icon">
                close
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined red-font med-icon">
                close
                </span>
            </td>
            <td>
                <span class="material-symbols-outlined green-font med-icon">
                check
                </span>
            </td>
        </tr>
    </tbody>
</table>
